{{> inc/header}}
<div class="ui top attached tabular menu _categories">
	{{#categories}}
		  <a class="item" data-tab="{{nom}}">{{nom}}</a>
	{{/categories}}
</div>
	{{#each categories as | category |}}
	<div class="ui bottom attached tab segment" data-tab="{{nom}}">
		<h1>Eléments</h1>
		<a class="ui button" href="/items/new/{{nom}}">Ajouter...</a>
		<ul>
		{{#each items as |item|}}
			<li>{{item.nom}} <div class="ui yellow rating" data-icon="star" data-max-rating="10" data-rating="{{item.evaluation}}"></div> 
				<a href="items/inc/{{category.nom}}/{{item.nom}}"><i class="ui angle up green icon"></i></a> 
				<a href="items/dec/{{category.nom}}/{{item.nom}}"><i class="ui angle down red icon"></i></a>
				<a class="ui icon mini circular basic button" href="items/delete/{{category.nom}}/{{nom}}"><i class="ui remove red icon"></i></a>
				
			</li>
		{{/each}}
		</ul>
	</div>
	{{/each}}


{{#msg}}
	<div class="ui icon {{type}} message">
	  <i class="{{icon}} icon"></i>
	  <div class="content">
	    <div class="header">
	      Message
	    </div>
	    <p>{{{content}}}</p>
	  </div>
	</div>
{{/msg}}
{{> inc/footer}}
